@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GopherText-Regular";
  src: url("./assets/fonts/GopherText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-custom;
}
